{
  "semi": true,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "bracketSameLine": true,
  "arrowParens": "always",
  "printWidth": 140,
  "endOfLine": "crlf",
  "cursorOffset": 0,
  "htmlWhitespaceSensitivity":"css",
  "insertPragma": false,
  "singleAttributePerLine": false
}